version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-dropshop
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: shop
      MYSQL_USER: root
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql_data:/var/lib/mysql

  dropshop-back:
    build:
      context: .
    container_name: dropshop-back
    restart: always
    depends_on:
      - mysql
    environment:
      DB_URL: jdbc:mysql://mysql:3306/shop?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      DB_USER: root
      DB_PASS: admin
      JWT_SECRET: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      JWT_EXPIRATION: 86400000
      GOOGLE_CLIENT_ID: 657915805932-qeh167knm2rgavsr7ulu8n246a59u41e.apps.googleusercontent.com
      STRIPE_API_KEY: sk_test_51SVWY1LLg8SboydnrYPY2Kly5JazPhdEJIB2647Bwi3P4HaRHpM3KP8rkBtfJUlM7sz7J1tuudsoonY84rFben3E00GXSoxh0T
      STRIPE_WEBHOOK_SECRET: whsec_6b80563107e8c71438be5f17915ab73316e48ddc363e9d4f4906c7d96d689cad
      STRIPE_SUCCESS_URL: http://localhost:8080/api/payments/success?session_id={CHECKOUT_SESSION_ID}
      STRIPE_CANCEL_URL: http://localhost:8081/order
      FRONTEND_URL: http://localhost:8081
      FRONTEND_ADMIN_URL: http://localhost:5173
      DOMAIN_NAME: motogear.es
      SCRAPING_API_URL: http://localhost:3001
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 587
      MAIL_USERNAME: motogearspain@gmail.com
      MAIL_PASSWORD: nnxj mwiv hdff rzoa
      MAIL_ADMIN_USERNAME: carlosbackdev@gmail.com
      STORE_URL: https://motogear.es
      PHONE: "+34 679 966 708"
      STORE_LOGO_URL: http://localhost:3001/uploads/prodcuts/logo.png
    ports:
      - "8080:8080"
    networks:
      - default

volumes:
  mysql_data:
    name: drop-shop-back_mysql_data
